@font-face {
  font-family: 'Lovelo Black';
  src: url('../assets/Lovelo/lovelo_black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: rgb(0, 0, 0);
  background-image: url('../assets/pattern-wilder.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 100px auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  text-align: right;
}

.sidebar.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  line-height: 1;
}

.close-btn:hover {
  color: #f2c200;
}

#sidebar-content {
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  width: 100%;
  margin-top: auto;
  display: block;
}

.sidebar-title {
  font-family: 'Lovelo Black', sans-serif;
  font-size: 56px;
  color: #f2c200;
  margin: 0 0 20px 0;
  line-height: 1.4;
  text-align: left;
}

.site-name {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 15px 0;
  color: white;
}

.site-desc {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 10px 0;
  color: white;
}

.site-col {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: white;
}

.title-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #f2c200;
  padding: 15px 20px;
  z-index: 100;
}
